[submodule "Motherboard (G0B1)/Kaleidogeist-KiCad-Library"]
	path = Motherboard (G0B1)/Kaleidogeist-KiCad-Library
	url = https://github.com/Kaleidogeist/Kaleidogeist-KiCad-Library
[submodule "Daughterboard (Cantaloupe)/Kaleidogeist-KiCad-Library"]
	path = Daughterboard (Cantaloupe)/Kaleidogeist-KiCad-Library
	url = https://github.com/Kaleidogeist/Kaleidogeist-KiCad-Library
